/*@font-face {
    font-family: 'Cantarell';
    src: url('../fonts/Cantarell-Regular.ttf') format('truetype'),
         url('../fonts/Cantarell-Bold.ttf') format('truetype'),
         url('../fonts/Cantarell-Italic.ttf') format('truetype'),
         url('../fonts/Cantarell-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

/*MAIN PART*/ 
* {
    font-family: 'Cantarell', sans-serif;
}
  
  
  #window {
       background: #161616; 
    }
    
    
    #web_view {
       background: #161616;   
       color: #02ff00;   
       border: 0px;
    }
    
    #box {
       background: #161616;
       color: #02ff00;
       min-width: 24px;
       border: 0px;
    }
    
    #vbox {
       background: #161616;
       min-width: 24px;
       border: 0px;
       color: #02ff00;
    }

    #headbar {
       background: #161616;
       color: #02ff00;
       min-height: 35px;
       font-size: 15px; 
       border: 0px;
    }
    
    #debris_label {
       color: #02ff00;
       font-size: 15px; 
       font-weight: bold;
    }
    
    #button_box {
       background: #161616;
    }
    
    #close_button {
       background-image: url('../icons/24/close.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
   /*  border-bottom: 1px solid red;*/
       box-shadow: none;
       text-shadow: none;
       margin-left: 5px;
       margin-right: 13px;
       margin-bottom: 5px;
       margin-top: 5px;
    } 
    
    #maximize_button {
       background-image: url('../icons/24/maximize.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;  /* #751313*/
       font-weight: bold; 
       font-size: 12px; 
       font-weight: bold;
       border: 0px;
   /*  border-bottom: 1px solid orange;*/
       box-shadow: none;
       text-shadow: none;
       margin-left: 5px;
       margin-bottom: 5px;
       margin-top: 5px;
    } 
    
    #minimize_button {
       background-image: url('../icons/24/minimize.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
   /*  border-bottom: 1px solid yellow;*/
       box-shadow: none;
       margin-bottom: 5px;
       margin-top: 5px;
    } 


    #address_bar {
       background: #161616;
       color: #02ff00;
       min-height: 22px;
       font-size: 20px; 
    }
    
    #entry {
       background: #303030;
       color: #02ff00;
       border: 2px solid #262626;
       min-height: 48px;
       font-size: 16px; 
    }
/*END MAIN PART*/ 


  /*DIALOGUE*/ 
    #dialog {
    background: #161616;
    color: #02ff00;
    border: 0px;
    font-size: 16px; 
    }

    #dialog headerbar, #dialog .header-bar, #dialog .titlebar {
        background: #161616;
        color: #02ff00;
        border: 0px;
    }

    #dialog content-area, #dialog .content-area {
        background: #161616;
        color: #02ff00;
        border: 0px;
    }

    #yes_button {
    background: #000000;
    color: #02ff00;
    border: 0px;
    } 
    
    #no_button {
    background: #262626;
    color: #02ff00;   
    border: 0px;
    } 
 /*END DIALOGUE*/    

/*FILE DIALOGUE*/
#file_chooser {
    background: #161616;
    color: #02ff00;
    border: 0px;
}

/* Style the header bar */
#file_chooser headerbar, #file_chooser .header-bar, #file_chooser .titlebar {
    background: #161616;
    color: #02ff00;
    border: 0px;
    font-size: 16px;
}

/* Style buttons */
#file_chooser button, #file_chooser .button {
    background: #161616;
    color: #02ff00;
    border: 0px;
    font-size: 16px;
    box-shadow: none;
    text-shadow: none;
}

#file_chooser button:hover {
    background: #02ff00;
    color: black;
    border: 0px;
    box-shadow: none;
    text-shadow: none;
}
#file_chooser button.default:hover {
    background: #02ff00;
    color: black;
    border: 0px;
    box-shadow: none;
    text-shadow: none;
}

/* Style entry */
#file_chooser entry, #file_chooser .entry {
    background: #161616;
    color: #02ff00;
    border: 0px;
    font-size: 16px;
}

/* Style the sidebar */
#file_chooser .sidebar {
    background: #000000;
    border: 0px;
}

#file_chooser .sidebar list {
    background: #000000;
    color: #02ff00;
    border:0px;
    font-size: 16px;
}

#file_chooser .sidebar *:hover {
    background: #02ff00;
    color: black;
}


#file_chooser treeview {
    background: #161616;
    color: #02ff00;
    border: 0px;
    font-size: 16px;
}

#file_chooser treeview:hover{
    background: #02ff00;
    color: black;
    border: 0px;
}


#file_chooser stack{
    background: #161616;
    color: #02ff00;
    border: 0px;
    font-size: 16px;
}
/*END DIALOG FILE*/

/*SIDEBAR & BARS BUTTONS*/

    #back_button {
       min-height: 24px;
       min-width: 24px;
       background: #161616;
       color: #02ff00;
       font-weight: bold; 
       font-size: 20px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
    #forward_button {
       min-height: 24px;
       min-width: 24px;
       background: #161616;
       color: #02ff00;
       font-weight: bold; 
       font-size: 20px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
    #button {
       min-height: 24px;
       min-width: 24px;
       background: #161616;
       color: #02ff00;
       font-weight: bold; 
       font-size: 20px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
    #closetab_button {
       min-height: 24px;
       min-width: 24px;
       background: #161616;
       color: #02ff00;
       font-weight: bold; 
       font-size: 20px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
       #menu_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/menu.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
       #menu_button:hover {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/menu.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
    
    #search_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/search.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;    
    }

    #note_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/note.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
  
    #colorpicker_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/24/picker24.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
    #openbookmark_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/bookmarks.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
    #reload_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/reload.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
    #searchengine_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/globe.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
    #download_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/download.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
   
    #tools_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/tools.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 

    #console_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/console.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: white;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 

/*END SIDEBAR & BARS BUTTONS*/


/*BARS*/ 
    #toolbar {
       min-width: 48px;
       background: #161616;
       color: #02ff00;
       border: 0px;  
    }
    
    #menubar {
       min-width: 48px;
       background: #161616;
       color: #02ff00;
       border: 0px;
    }
    
    #searchenginebar {
       min-width: 36px;
       background: #161616;
       color: #02ff00;
       border: 0px;  
    } 
    
    #instrumentbar {
       background: #161616;
       border: 0px;
    }
    
    #boomarkbar {
       min-width: 100px;
       background: #161616;
       border: 0px;
    }
    
    #downloadbar {
       min-width: 48px;
       background: #161616;
       color: #02ff00;
       border: 0px;
    }
    
    #file_list {
       background: #161616;
    }

    #downloadbar_title {
    background: #161616;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    }
 
    #opendownloadfolder_button {
       background: #992c5d; 
       color: #02ff00;
       margin-top: 5px;
       margin-bottom: 20px;
       margin-right: 5px;
       margin-left: 5px;
       padding: 5px;
       font-weight: bold; 
       font-size: 14px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
    }     
    
   #opendownloadfolder_button:hover {
    border:2px solid #02ff00;
    color: #02ff00;
}
    
    #downloadlist_button {
       background: #161616; 
       color: #02ff00;
       margin-bottom: 5px;
       font-weight: normal; 
       font-size: 14px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
    }  
    
    #download_label {
    font-size: 14px;
    color: #02ff00;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    
    #downloadlist_button:hover{
    border:2px solid #02ff00;
    }
    
    #openfilebutton {
       min-height: 14px;
       min-width:14px;
       background: #992c5d; 
       color: #02ff00;
       font-weight: normal; 
       font-size: 16px; 
       border: 0px;
       margin-left: 5px;
       margin-right: 5px;
       box-shadow: none;
       text-shadow: none;
    } 
    
    #openfilebutton:hover {
       border:2px solid #02ff00; 
       box-shadow: none;
       text-shadow: none;
    }     

#historybar {
    background: #161616;
    color: #02ff00;
    border: 0px;
}

#web_history_label {
    font-size: 17px;
    font-weight: bold;
    color: #02ff00;
    margin-top: 20px;
    margin-bottom: 30px;
}

#openhistory_button {
       background-image: url('../icons/theme_matrix/history.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-size: 16px; 
       font-weight: bold;
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-top: 5px;
       margin-bottom: 5px;
}
 
#history_button {
       background: #161616;
       color: #02ff00;
       margin-left: 5px;
       margin-bottom: 5px;
       font-weight: normal; 
       font-size: 14px;
       border: 0px;
       border-left: 2px solid #02ff00;
       padding-left: 4px;
       box-shadow: none;
       text-shadow: none;
       box-shadow: none;
       text-shadow: none;
}

#history_button:hover {
    border:2px solid #02ff00;
    color: #02ff00; /* Darker blue on hover for history buttons */
}
    
    #google_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/google36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #bing_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/bing36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #wiki_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/wiki36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #scrolled_window > * {
    background: #161616;
    border: 0px;
    box-shadow: none;
    }

#scrolled_window slider {
    background: #02ff00;
    border: 0px; 
}

#scrolled_window trough {
    background: #292929;
    box-shadow: none;
    border: 1px solid #02ff00; 
}


/*NOTEBOOK*/

    #notebar {
    background: #0b242a; 
    border: 0px;
    }

    #text_view {

    ;}
    #text_view text{  background: #000000; color: #02ff00; margin: 0px; font-size:14px;}
    #text_view text selection{ background: lightgrey; color: black;}
    
    #notetoolbar{ min-height:45px; background: #161616; color: #02ff00; margin: 0px; border: 0px;}
    #vbox{background: #161616;  margin: 0px;}
    #notegrid{background: #161616;  margin: 0px;}
    
#note_notebook {
    background: #161616;
    margin: 0px;
    border: 0px;
}

#note_notebook *{
    font-size:16px;
}

#note_notebook > header {
    background: #161616;
    color: #02ff00;
    border: 0px;
}

#note_notebook tab label {
    font-weight: bold;
}

#note_notebook tab:checked {
    background: #02ff00;
    color: black;
    border:0px;
}

#note_notebook tab {
    background: #161616;
    color: #02ff00;
    border:0px;
    border-bottom: solid #02ff00;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

 
     #buttonaddtext {
       min-height: 14px;
       min-width:14px;
       background: #161616; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
    } 
    
    #buttondeletetext {
       min-height: 14px;
       min-width:14px;
       background: #161616; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       margin-right: 10px;
    } 
    
    #buttoncentertext {
       min-height: 14px;
       min-width:14px;
       background-image: url('../icons/theme_matrix/align_center.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
     } 
    
       #buttonlefttext {
       min-height: 14px;
       min-width:14px;
       background-image: url('../icons/theme_matrix/align_left.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       margin-left: 100px;
    } 
    
    #buttonsavetext {
       min-height: 14px;
       min-width:14px;
       background: #161616; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border:2px solid #02ff00;
       box-shadow: none;
       margin-left: 5px;
       box-shadow: none;
       text-shadow: none;
    } 
    
    #buttonmergetext {
       min-height: 14px;
       min-width:14px;
       background: #161616; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border:2px solid #02ff00;
       box-shadow: none;
       margin-left: 5px;
       box-shadow: none;
       text-shadow: none;
    } 
    
        #buttonopentext {
       min-height: 14px;
       min-width:14px;
       background: #161616; 
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 2px solid #02ff00;
       box-shadow: none;
       margin-left: 5px;
       box-shadow: none;
       text-shadow: none;
    } 
    
    #buttonlisttext {
       min-height: 14px;
       min-width:14px;
       background-image: url('../icons/theme_matrix/list.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: white;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
     } 

    #buttoncommenttext {
       min-height: 14px;
       min-width:14px;
       background-image: url('../icons/theme_matrix/comment.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: white;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
     }         
/*END NOTEBOOK*/

/*NOTEBOOK (webview)*/
#notebook {
    background: #161616;
    border: 0px;
}

#notebook > header {
    background: #161616;
    color: #02ff00;
    border: 0px;
}

#notebook tab {
    background: #161616;
    color: #02ff00;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #02ff00;
    box-shadow: none;
}

#notebook tab label {
    font-size: 16px;
    font-weight: bold;
}

#notebook tab:checked {
    background: #161616;
    color: #02ff00;
    border-bottom: 2px solid #02ff00;
    box-shadow: none;
}


/*BOOKMARK BAR*/
    #add_button {
       background: #161616;
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 2px solid #02ff00;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    }   
    #add_button:hover {
       border: 2px solid #02ff00;
    }  
     

#bookmarkbar {
border:0px;
min-width: 240px;
}

    #bookmark_button{
       background: #161616;    
       color:#02ff00;
       margin-left: 5px;
       margin-bottom: 5px;
       font-size: 14px; 
       font-weight: normal; 
       border: 0px;
       border-left: 2px solid #02ff00;
       padding-left: 4px;
       box-shadow: none;
       text-shadow: none;
    } 
    
   #bookmark_button:hover {
    border:2px solid #02ff00;
    color: #02ff00; /* Darker blue on hover for history buttons */
}
 
/*COLORPICKER BAR*/   
   #colorpickerbar {
    background: #161616;
    padding: 20px;
    border: 0px;
}

   #colorentry {
    background: #161616;
    font-size:16px;
    color: #02ff00;
    border: 3px solid #363636;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

   #colorhexentry {
    background: #161616;
    font-size:16px;
    color: #02ff00;
    border: 3px solid #363636;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

   #colorentry:hover {
    border:2px solid #02ff00;
    color: #02ff00; 
}

   #colorhexentry:hover {
    border:2px solid #02ff00;
    color: #02ff00; 
}

   #space{
    background: #161616;
    border:0px;
    box-shadow: none;
    text-shadow: none;
}

/*MAIN MENU BAR*/
    #inside_menu_button {
    background: #161616;
    color: #02ff00;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 1px;
    border:0px;
    box-shadow: none;
    text-shadow: none;
    }
    
    #inside_menu_button:hover {
    border-bottom: 2px solid #02ff00;
    }
    
    #inside_menu_title {
    background: #161616;
    color: #02ff00;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    border:0px;
    box-shadow: none;
    text-shadow: none;
    }

    #mainmenu_open_button {
       background: #161616;
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-top: 5px;
       margin-bottom: 5px;
    }   
    #mainmenu_open_button:hover {
       border: 2px solid #02ff00;
    }  
    
    #mainmenu_button {
       background: #161616;
       color: #02ff00;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-top: 5px;
       margin-bottom: 5px;
    }     
  
    #themebox {
       background: #161616;
       border-bottom:4px solid #000000;
       margin-bottom: 5px;
    }        
       #button_themelight {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/theme_light.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #button_themelight:hover {
       border-bottom: 2px solid #02ff00;
    } 
    
       #button_themedark {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/theme_dark.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;       
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #button_themedark:hover {
       border-bottom: 2px solid #02ff00;
    } 
    
       #button_themedarkbow {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/theme_darkcolor.png'); 
       background-repeat: no-repeat;
       background-position: center;
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #button_themedarkbow:hover {
       border-bottom: 2px solid #02ff00;
    } 
    
       #button_themematrix {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/theme_matrix.png'); 
       background-repeat: no-repeat;
       background-position: center;
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #button_themematrix:hover {
       border-bottom: 2px solid #921c65;
    }     
    
       #button_themelightbow {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/theme_lightcolor.png'); 
       background-repeat: no-repeat;
       background-position: center;
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    }   
       #button_themelightbow:hover {
       border-bottom: 2px solid #02ff00;
    } 
    
       #button_theme_accessibility1 {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/accessibility1.png'); 
       background-repeat: no-repeat;
       background-position: center;
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    }   
       #button_theme_accessibility1:hover {
       border-bottom: 2px solid #02ff00;
    } 
    
       #button_theme_accessibility_dark {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/accessibility_dark.png'); 
       background-repeat: no-repeat;
       background-position: center;
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    }    
       #button_theme_accessibility_dark:hover {
       border-bottom: 2px solid #02ff00;
    }     
    
    
       #button_themematrix {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/matrix.png'); 
       background-repeat: no-repeat;
       background-position: center;
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #button_themematrix:hover {
       border-bottom: 2px solid #6be3fe;
    }     
    
       #button_theme_accessibility_dark_cyan {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_icon/accessibility_dark_cyan.png'); 
       background-repeat: no-repeat;
       background-position: center;
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    }  
       #button_theme_accessibility_dark_cyan:hover {
       border-bottom: 2px solid #02ff00;
    }     
    
    
  #current_download_box {
  background: #161616;
  color: #02ff00;
  margin-top: 10px;
  margin-bottom: 10px;
  border:2px solid #000000;
  }
  
  #file_label {
  background: #161616;
  color: #02ff00;
       margin-left: 5px;
       margin-bottom: 5px;
       font-size: 14px;
       font-weight: normal; 
       border: 0px;
       border-left: 2px solid #02ff00;
  padding-left: 4px;
  box-shadow: none;
  text-shadow: none;
  }
   #file_label:hover {
  border:2px solid #02ff00;
  color: #02ff00;

  }
   
/*debris PAGE & SEARCH ENGINE CHOOSE BUTTON*/   
  #mainpage_box {
  background: #161616;
  border:0px;
  box-shadow: none;
  }    

  #mainpage_grid {
  background: #161616;
  border:0px;
  box-shadow: none;
  margin: 0px;
  }  

  #mainpage_icon {
  background-image: url('../icons/debris_logo_256.png');  
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;  
  border: 0px;
  margin: 0px;  
  } 

  
  #mainpage_entry {
  background: #161616;
  border: 2px solid #02ff00;
  border-radius: 20px 20px 20px 20px;
  color: #02ff00;
  font-size: 18px;
  }
  
  
  
  #settings_search_duck {
  background-image: url('../icons/36/duckduck36.png'); 
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;  
  border: 0px;
  margin: 0px;  
  margin-left:10px;
  margin-right:10px;
  } 
  #settings_search_duck:hover {
  border-bottom: 2px solid #921c65;
  }  

  #settings_search_google {
  background-image: url('../icons/36/google36.png'); 
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;  
  border: 0px;
  margin: 0px;  
  } 
  #settings_search_google:hover {
  border-bottom: 2px solid #921c65;
  }  

  #settings_search_bing {
  background-image: url('../icons/36/bing36.png'); 
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;  
  border: 0px;
  margin: 0px;  
  } 
  #settings_search_bing:hover {
  border-bottom: 2px solid #921c65;
  }  

  #settings_search_wiki {
  background-image: url('../icons/36/wiki36.png'); 
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;  
  border: 0px;
  margin: 0px;
  margin-top: 20px;
  margin-left:10px;
  margin-right:10px;
  } 
  #settings_search_wiki:hover {
  border-bottom: 2px solid #921c65;
  }     
 
  
  /*SPEED*/
      #speedimg {
       min-height: 300px;
       min-width: 300px;
       background-image: url('../icons/theme_matrix/speed.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }
    
    #speedtest_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons/theme_matrix/speed_icon.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: white;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
    
  #spinner {
  background: #fafafa;
  min-width: 40px;
  min-height: 40px;
  color: #ff0000;
  padding: 5px;
}
  


/*DOWNLOAD FUNCTION*/
#download_dialog{
min-width: 200px;
background: #292929;
border: 2px solid #0fff00;
padding:5px;
box-shadow: none;
text-shadow: none;
}

#download_dialog headerbar, #download_dialog .header-bar, #download_dialog .titlebar #download_dialog .buttons .button {
background:#000000;
color: #0fff00;
border:0px;
border-bottom: 0px;
box-shadow: none;
text-shadow: none;
}

#download_dialog content-area, #download_dialog .content-area {
background: #000000;
color: #0fff00;
border: 0px;
}

#download_event_entry{
color: #0fff00;
padding:5px;
}

#progress_bar *{
min-height: 6px;
border: 2px solid #0fff00;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}

#progress_bar progress {
    background-image: linear-gradient(to right, #3aca31, #0fff00); /* Gradient color */
    border-radius: 6px; /* Keep rounded edges */
}


/*MENU LINKS ICON*/
    #youtube_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/youtube.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #arte_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/arte.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #bbc_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/bbc.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #dailymotion_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/dailymotion_dark.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }
    
    #docplus_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/doc+.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }    

    #jove_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/jove.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #nasatv_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/nasa.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #odysee_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/odysee.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #pbs_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/pbs.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #scienceaaas_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/science_aaas.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #ted_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/ted.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }

    #twitch_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/twitch.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }
    
    #wolfram_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/wolfram36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }
    
     #yahoo_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/yahoo36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }   
    
   #settings_search_yahoo {
  background-image: url('../icons/36/yahoo36.png'); 
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;  
  border: 0px;
  margin: 0px;
  margin-top: 20px;
  } 
  #settings_search_yahoo:hover {
  border-bottom: 2px solid #921c65;
  }     
  
   #settings_search_wolframalpha {
  background-image: url('../icons/36/wolfram36.png'); 
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;  
  border: 0px;
  margin: 0px;
  margin-top: 20px;
  } 
  #settings_search_wolframalpha:hover {
  border-bottom: 2px solid #921c65;
  }     
  
  
  /*NEWS*/
       #phys_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/phys.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }   
    
       #sciencenews_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/sciencenews.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }       
  
       #nature_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/nature.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }       
    
       #euronews_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/euronews.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }       
    
       #lemonde_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/lemonde.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }       
    
       #cnbc_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/cnbc.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }          
    
       #nytimes_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/nytimes.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }              
    
       #moscowtimes_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/moscow.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }        
    
       #ecns_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/ecns.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }            
    
       #aljazeera_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/aljazeera.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }       
    
       #alarabya_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/alarabya.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }       
    
       #ap_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/ap.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }           
/*education*/    
       #biodigital_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/biodigital.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }      

       #dlmf_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/dlmf.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }   

       #efunda_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/efunda.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }   

       #mit_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/mit.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }   
 
       #onezoom_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/onezoom.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }    
 
       #pbdb_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/pbdb.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }  

       #pt_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/pt.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }  

       #semantic_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/semantic.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }  
    
       #sciencedirect_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/sciencedirect.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }  
 
       #sciencegov_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/sciencegov.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }  

       #wwh_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/wwh.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    }  

       #wwt_button {
       min-height: 36px;
       min-width: 36px;
       background-image: url('../icons/36/wwt.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;
       box-shadow: none;
       margin-bottom: 10px;    
    } 

      #links_grid {
       border:0px;
       border-bottom:4px solid black;
       margin-top: 5px;    
       margin-bottom: 10px;    
    }       
    
     
     #calculator_button {
       min-height: 24px;
       min-width: 24px;
       background-image: url('../icons//theme_matrix/calculator.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       color: white;
       font-weight: bold; 
       font-size: 16px; 
       border: 0px;
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
         
         
 #dialog_header_bar .titlebutton.close *{
    background-color: #161616;
    color: #02ff00;
    box-shadow: none;
    text-shadow: none;
}

#dialog_header_bar .titlebutton.close:hover {
    all: unset; 
    background-color: #161616; 
    color: #02ff00; 
    margin-right: 9px; 
}

/*calculator*/

     #entry_expression { 
        background: #191919;    
        color:#02ff00; 
        text-shadow: none; 
        box-shadow: none; 
        border: 2px solid grey; 
        margin-right: 15px; 
        margin-left: 15px; 
        margin-top: 5px; 
        caret-color: white;     
     } 

     #entry_result{ 
        background: #191919;    
        color:#02ff00; 
        border: 2px solid grey; 
        margin-top: 5px; 
        margin-right: 15px; 
        margin-left: 15px; 
        text-shadow: none; 
        box-shadow: none; 
     } 
    
    #calcbuttons{
     background: #191919;  
     color:#02ff00;
     margin: 1px;
     text-shadow: none;
     box-shadow: none;
     border:0;
    }
    
     #calcbuttons:hover{ 
        background:#292929;    
        color:#ffffff; 
     } 
    
     #ac{ 
        background: #992c5d;    
        color:white; 
        margin: 1px; 
        text-shadow: none; 
        box-shadow: none; 
        border:0; 
     } 
    
     #ac:hover{ 
        background: orange;    
        color:white; 
     } 

     #calcmorebutton{ 
        background: #292929;    
        color:#02ff00; 
        margin-top: 15px; 
        border: 0px; 
        border-radius: 30px; 
        text-shadow: none; 
        box-shadow: none; 
     } 
    
     #calcmorebutton:hover{ 
        background: #2c519c;    
        color:white; 
     } 
    
     #morebutton{ 
        background: #191919;    
        color:#02ff00; 
        border: 2px solid #363636; 
        font-size: 15px; 
        text-shadow: none; 
        box-shadow: none; 
        min-width: 150px; 
        border-radius: 10px; 
     } 
    
     #morebutton:hover{ 
        background: #2c519c; 
   
        color:white; 
     } 
    
     #more_title { 
     background: #191919; 
     color: white; 
     font-size: 18px; 
     font-weight: bold; 
     margin-top: 20px; 
     margin-bottom: 30px; 
     }     
    
     #moreboxes{ 
        background: #191919;    
        color:#02ff00; 
        font-size: 14px; 
        text-shadow: none; 
        box-shadow: none; 
        padding: 10px; 
     } 
    
     #more_label_title{ 
       font-size: 18px; 
       color: #ffffff ;
     } 
     #enter_label{ 
       font-size: 16px; 
       margin-top:10px; 
     } 
     #enter_label_expo{ 
       font-size: 16px; 
       margin-right:5px; 
     } 
     #more_entry{ 
       background: #191919; 
       color: #02ff00; 
       border: 1px solid white; 
       border-radius: 20px; 
       margin-top:5px; 
        text-shadow: none; 
        box-shadow: none; 
     } 
    
     #result_label{ 
       background: #191919; 
       color: #ffffff; 
       border: 0px; 
       margin-top:5px; 
       text-shadow: none; 
       box-shadow: none; 
     } 
    
         #button_box { 
        background: #161616; 
     } 
     
    #calc_notebox_text_view text{  background: #0b242a; color: white; padding: 10px; font-size:16px; caret-color: red;}
    #calc_notebox_text_view text selection{ background: lightgrey; color: black;}
    
    /*privacy buttons*/

       #privacy_button_bookmarks {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_matrix/privacy_bookmarks36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;       
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #privacy_button_bookmarks:hover {
       border-bottom: 2px solid #921c65;
    } 
    
       #privacy_button_history {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_matrix/privacy_history36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;       
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #privacy_button_bookmarks:hover {
       border-bottom: 2px solid #921c65;
    } 
    
       #privacy_button_cookies {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_matrix/privacy_cookies36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;       
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #privacy_button_cookies:hover {
       border-bottom: 2px solid #921c65;
    } 
    
       #privacy_button_caches {
       min-height: 48px;
       min-width: 48px;
       background-image: url('../icons/theme_matrix/privacy_caches36.png'); 
       background-repeat: no-repeat;
       background-position: center; 
       border: 0px;       
       box-shadow: none;
       text-shadow: none;
       margin-bottom: 10px;
    } 
       #privacy_button_caches:hover {
       border-bottom: 2px solid #921c65;
    } 
    

  

